<div class="menu">
    <div class="logout">
    <%if Helpers.is_logged_in?(session) %>
      <form method=post action='/logout'>
      <input type='submit' value="Logout" class="buttons">
      </form>
      <% end %>
    </div>

    <ul class="userbooks">
        <li><%= Helpers.current_user(session).username %>'s Books</li>
    </ul>
    <ul class="menuadd">
        <a href="/books/new" class="buttons">Add a Book</a>
    </ul>

    <ul class="menuviewall">
      <a href="/view_all" class="buttons">View All Books </a>
    </ul>

</div>

<div class="booklisting">

<h2>Sample Books:</h2>

      <% @books.each do |book| %>
    <h3> <a href="books/<%= book.id %>"> <%= book.book_title %> by <%= book.author_name %></a></h3>
<% end %>
</div>
