<h1 class="index">All Books</h1>
<% @books.each do |book| %>
    <h3> <a href="books/<%= book.id %>"> <%= book.book_title %> by <%= book.author_name %></a></h3>
<% end %>
<h3><a href="/menu" class="buttons">Back to Menu </a> </h3>
