<div>
  <form action="/book" method="post">
    <div>
      <h2>Add A New Book</h2>
      <label for="book_title">Book Title:
      </label>
      <input type="text" name="book[book_title]" id="book_title">

      <label for="author_name">Name of the Author:
      </label>
      <input type="text" name="book[author_name]" id="author_name">
    </div>

    <div class="addbook">
      <p>Book Synopsis:</p>
      <textarea type="text" name="book[book_desc]" id="book_desc" rows="10" cols="80" maxlength="2000" placeholder="Enter a synopsis"></textarea>
    </div>

    <div>

      <input type="submit" value="Post your Book" class="buttons">
    </div>
  </br>
</form>
<a href="/menu" class="buttons">Back to Menu
</a>
</div>
