<!doctype html>
<html>
  <head>
    <title>Book Collection</title>
    <link href="/stylesheets/bookstyle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Helvetica&display=swap" rel="stylesheet">
  </head>
  <body>

  <div class="header"><h1><a href='/'>Book Collection</a></h1>
      <h3>Library to store all your books</h3>
  </end>
  </div>

  <div class="container">
    <% if flash[:error] %>
    <b><i><p class="error"><%= flash[:error] %></p></i></b>
    <% end %>
  </end>

   <%= yield %>
</div>
</body>
</html>
